.card { background-image: url(./../../../../assets/images/kt.jpg) !important;    height: 92vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.card-header {
    padding-top: 10%;
    margin-left: 80px;
    color: #ffffff;
}

.form-title {
    color: #ffffff;
    font-weight: 500;
}

.alert-danger {
    color: red;
}

.col-form-label {
    margin: 8px 0;
    margin-bottom: 30%;
}
.col-form-label {
    color: #ffffff;
    padding-right: 250px;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
}

.card-body {
    background:rgba(19, 19, 19, 0.4);
    overflow: hidden;
    width: 30%;
    height: 25%;
    margin-left: 35%;
    padding-top: 2%;
}

.float-right {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}