.card { background-image: url(./../../../../assets/images/login-bg.jpg) !important;    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.card-header {
    padding-top: 12%;
    color: #ffffff;
    margin-right: 50px;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
}

.alert-danger {
    color: red;
}

.col-form-label {
    margin-right: 8px 0px;
    margin: 8px 0;
    padding-right: 80px;
    margin-bottom: 30%;
}
.col-form-label {
    color: #ffffff;
    padding-right: 250px;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
}

.card-body {
    background:rgba(19, 19, 19, 0.4);
    overflow: hidden;
    width: 35%;
    height: 30%;
    margin-left: 35%;
}