.card { background-image: url(./../../../../assets/images/login-bg.jpg) !important;    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.card-body {
    padding-top: 5%;
}