.card { background-image: url(./../../../../assets/images/kt.jpg) !important;    height: 92vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.card-header{
    font-weight: bold;
    padding-top: 8%;
}

.card-body {
    padding-top: 1%;
}

.alert {
    color: red;
    font-weight: bold;
}
