<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async)">
    <mat-toolbar color="teal"> <i class="material-icons">
        dashboard
      </i> Dashboard </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState= true" (closed)="panelOpenState= false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/analytics">Analytics</a>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/project">Project</a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState= true" (closed)="panelOpenState= false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Knowledge Base
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/angular">Angular</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/laravel">Laravel</a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState= true" (closed)="panelOpenState= false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Others
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/filemanager">File Manager</a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a style="cursor: pointer"><i matTooltip="Click me!" matTooltipPosition="right">
          <mat-icon [routerLink]="['/admin-dashboard']">home</mat-icon>
        </i></a>
      <span class="margin_left_10px"></span>

      <a style="cursor:pointer" class="edit"><i matTooltip="only admin can edit" matTooltipPosition="left">
          <mat-icon [routerLink]="['/ckeditor']">edit</mat-icon>
        </i></a>

      <a style="cursor: pointer" class="search"><i matTooltip="Search" matTooltipPosition="left">
          <mat-icon [routerLink]="['/filter']">search</mat-icon>
        </i></a>

      <button mat-button [matMenuTriggerFor]="menu" class="profile">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon>account_circle</mat-icon>My Profile
        </button>

        <button mat-menu-item (click)="logout($event)" *ngIf="loggedIn">
          <mat-icon href="#">input</mat-icon>Logout
        </button>
      </mat-menu>

    </mat-toolbar>
    <ng-content></ng-content>
    <button class="top" *ngIf="isShow" (click)="gotoTop()">👆</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<!DOCTYPE html>
<html>

<!-- <body bgcolor="#E6E6FA"> -->

<div class="grid-container">
  <h1 class="mat-h1"><i class="material-icons">
      dashboard
    </i>Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of card1" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <!-- {{card.title}} -->
            <button mat-stroked-button color="primary">{{card.title}}</button>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openDialog1()">Expand</button>
              <button mat-menu-item (click)="openDialog2()">Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="text-align: left">
          <div>Sed sodales urna sed magna tempus viverra.
          </div>
          <br>
          <div class="subtitle">
            <button mat-stroked-button color="warn">Clit</button>
          </div>
          <br>
          【 Ut id erat sagittis dui tempor dapibus. 】
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let card of card2" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-stroked-button color="accent">{{card.title}}</button>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openDialog3()">Expand</button>
              <button mat-menu-item (click)="openDialog4()">Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="text-align: left">
          <div>
            Suspendisse eget risus vitae odio tristique tempus.
          </div>
          <br>
          <div class="subtitle">
            <button mat-stroked-button color="primary">Pro</button>
          </div>
          <br>
          Pellentesque accumsan turpis quis est accumsan accumsan.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<!-- </body> -->
<div class="footer">
  <div class="container">
    <span>Copyright © 2020, All rights reserved </span>
    <span style="right: 20px;">Best viewed in browsers: IE9 +, Google Chrome, Mozilla Firefox</span>
  </div>
</div>

</html>