.top {
    position: fixed;
    bottom: 45px;
    background-color:rgba(19, 19, 19, 0.4);
    right: 5px;
    width: 32px;
    text-align: right;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #fff!important;
    font-weight: bold;
    padding-top: 12px;
    border-radius: 5px;
}

.footer {
    height:40px;
    background:teal;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 5px;
    clear: both;
    bottom:0;
    left:0;
    right:0;
}

.footer span {
  position: absolute;  
}