.hero {
   background-image: url('/assets/img/canyon.jpg') !important;
   background-size: cover;
   background-position: center;
   height:400px;
}

.hero.is-info .title {
   color: #fff;
   font-weight: 300;
   line-height: 1.125;
   margin: 0;
}

.footer {
   text-align: center!important;
}

